<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".AudioNinjaApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_logo"
        android:label="Audio Ninja"
        android:theme="@style/Theme.AudioNinja"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AudioNinja">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".service.BubbleTrampolineActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent"
            android:excludeFromRecents="true"
            android:taskAffinity="" />

        <service
            android:name=".service.RecordingService"
            android:foregroundServiceType="microphone|mediaProjection"
            android:exported="false" />

        <service
            android:name=".service.FloatingBubbleService"
            android:exported="false" />

    </application>
</manifest>
